@import "./assets/variables";
@import "./assets/mixins";
@import "./assets/icons";

@font-face {
    font-family: 'unicons';
    src: url('fonts/unicons/unicons-thinline.ttf');
    src: url('fonts/unicons/unicons-line.ttf');
    src: url('fonts/unicons/unicons-solid.ttf');
}


input.acr{
    &[type="checkbox"]{
        @include checkbox-default();
    }

    &[type="radio"]{
        @include radio-default();
    }
    
    &.acr-fill{
        @include fill-default();
    }

    @each $name, $code in $icons {
        @include arc-generate($name, $code);
    }
}
