// color
$blue: #007bff;
$white:#fff ;

$gray-b4: #B4B4B4;

$angry: '\ebdf';
$check: '\e9c3';
$check-circle: '\e9c2';

// checkbox sizes
$default-size: 13px;
$default-border-width: 1px;
$default-border-radius: 3px;